a {
  text-decoration: none;
  color: black;
}

.mynavbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  flex: 1;
  font-weight: 300;
  font-size:30px;
  font-weight:bolder;

  a {
    // color: #0066FF;
  }
}

.navlinks {
  list-style: none;
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
  }
  
  .link {
    margin-left: 30px;
    font-size: 18px;
  }
}