.homeContainer {
  width: 100%;
  height: 35vh;
}

.jumbotron {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: white;

  .heading__big {
    margin-top:38px;
    font-size: 38px;
    font-weight: lighter;
  }

  .heading__small {
    margin-top:28px;
  }

  .circle__btn {
    margin-top:28px;
    background-color: #0066FF;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
  }

}

